body {
    margin: 0;
}

.mainBackground {
    position: fixed;
    inset: 0;
    background-image: url("../img/mainBackground.webp");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    z-index: -1;
}
.mainContent{
    width: 100%;
    display: flex;
    justify-content: center;
}
.mainContentPositioner {
    width: 1800px;
    min-width: 320px;
    margin: 0 50px 50px 50px;
}
.usersList_userImgBox {
    width: 200px;
    height: 300px;
    margin-right: 20px;
    display: flex;
    flex-shrink: 0;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    border: 2px solid black;
    border-radius: 30px;
}
.usersList_userImg {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.usersList {
    display: flex;
    flex-wrap: wrap;
    min-width: 320px;
    list-style: none;
    margin: 0;
}
.usersList_item {
    width: 100%;
}
.usersList_itemData {
    display: flex;
}
.usersList_itemBox{
    padding: 10px;
    margin: 20px;
    border: 2px solid black;
    border-radius: 30px;
    background: #eeeeeecb;
    -webkit-box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
    -moz-box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
    box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
}
.usersList_userDataBox {
    max-width: 315px;
    min-width: 0;

}
.usersList_userData {
    font-size: 24px;
    color: black;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    word-break: break-all;
}
.usersList {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(500px, 1fr));
    gap: 40px;
    list-style: none;
    padding: 0;
    margin: 0;
}
.chooseSettingsBox {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 10px 40px 30px 40px;
    font-size: 24px;
    color: black;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    border: 2px solid black;
    border-radius: 0px 0px 30px 30px;
    background: #eeeeeecb;
    -webkit-box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
    -moz-box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
    box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
}
.filterRowBtn{
    font-size: 24px;
    color: black;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background: none;
    border-radius: 50px;
    background-color: #eeeeeecb;
    padding: 5px 15px;
    margin: 20px 0;
}
.filterRow_age, .filterRow_input{
    font-size: 24px;
    color: black;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background: none;
    border-radius: 50px;
    background-color: #eeeeeecb;
    padding: 5px 8px;
    width: 140px;
    margin: 20px 0;
}
.filterRow_nameFilter:focus {
  width: 300px;
}